<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Min portfolio</h1>
      </div>
      <div class="col-lg-6">
        <div class="box rounded">
          <h2>Innocent Blood</h2>
          <div class="img-hover-zoom">
            <a href="../../assets/images/InnocentBlood.PNG" target="_blank">
              <img src="../../assets/images/InnocentBlood.PNG" class="img-fluid rounded" alt="Innocent Blood">
            </a>
          </div>
          <p>
            <a href="http://innocentblood.dk" class="btn btn-success" target="_blank">Se website</a>
          </p>
          <p>
            Innocent Blood's hjemmeside er lavet under Multimediedesigner uddannelsen, da den blev
            udarbejdet i forbindelse med et projekt. Den er lavet i HTML, CSS og JavaScript. Jeg hjælper
            stadig bandet ind imellem med opdatering af indhold. Desuden har jeg klippet videoen på forsiden
            sammen (ud fra Innocent Blood's egne optagelser).
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box rounded">
          <h2>El-Protec</h2>
          <div class="img-hover-zoom">
            <a href="../../assets/images/El-Protec.PNG" target="_blank">
              <img src="../../assets/images/El-Protec.PNG" class="img-fluid rounded" alt="El-Protec">
            </a>
          </div>
          <p>
            <a href="" class="btn btn-success disabled">Ingen visning tilgængelig</a>
          </p>
          <p>
            Under Webudvikler uddannelsen udarbejdede jeg et vagtrapporteringssystem til El-Protec.
            Det er lavet i Angular og Firebase. Det var et projekt, jeg havde ved siden af uddannelsen,
            og som gjorde mig meget klogere på Angular. Hjemmesiden kan ikke ses i praksis, da det er et
            lukket system, hvor et login er påkrævet.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 last">
        <div class="box rounded">
          <h2>Nordjysk Vinduespolering</h2>
          <div class="img-hover-zoom">
            <a href="../../assets/images/NordjyskVP.PNG" target="_blank">
              <img src="../../assets/images/NordjyskVP.PNG" class="img-fluid rounded" alt="Nordjysk Vinduespolering">
            </a>
          </div>
          <p>
            <a href="" class="btn btn-success disabled">Ingen visning tilgængelig</a>
          </p>
          <p>
            Da jeg tog Multimediedesigner uddannelsen udarbejdede jeg en hjemmeside for Nordjysk
            Vinduespolering ved siden af studiet. Hjemmesiden blev lavet i HTML og CSS og den var
            ligeledes responsive. Hjemmesiden er ikke længere tilgængelig online.
          </p>
        </div>
      </div>
      <div class="col-lg-6 last">
        <div class="box rounded">
          <h2>Haldrup Psykologhus</h2>
          <div class="img-hover-zoom">
            <a href="../../assets/images/HaldrupPsykologhus.PNG" target="_blank"> <img
                src="../../assets/images/HaldrupPsykologhus.PNG" class="img-fluid rounded" alt="Haldrup Psykologhus">
            </a>
          </div>
          <p>
            <a href="http://haldruppsykologhus.dk" class="btn btn-success" target="_blank">Se website</a>
          </p>
          <p>
            Jeg lavede hjemmesiden for Haldrup Psykologhus, da jeg var i gang med min HF. Hjemmesiden
            blev lavet i C# og ASP.NET Webforms. Den blev lavet tilbage i 2012, og den er ikke blevet
            opdateret siden, og er på den måde ikke up to date. Der blev lavet et tilhørende CMS, således
            at Haldrup Psykologhus havde mulighed for selv at opdatere indholdet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid new_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-1 last_header">
          <h2>Grafiske elementer</h2>
        </div>
        <div class="col-lg-6 order-3 order-lg-2 last_header">
          <h2>Fotografier</h2>
        </div>
        <div class="col-lg-6 box rounded last new_box order-2 order-lg-3">
          <div class="row">
            <div class="col-lg-12">
              <p>
                Her er nogle af de grafiske elementer, jeg har lavet. De fleste logoer er lavet under uddannelse.
              </p>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/logo.png" target="_blank">
                    <img src="../../assets/images/logo.png" class="img-fluid rounded"
                      alt="Logo - Camilla Møller Eskesen">
                  </a>
                </div>
                <span class="tooltiptext">Mit logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Aalborg-Volleyball-2.jpg" target="_blank">
                    <img src="../../assets/images/Aalborg-Volleyball-2.jpg" class="img-fluid rounded"
                      alt="Aalborg Volleyball - Udkast til logo">
                  </a>
                </div>
                <span class="tooltiptext big aa">Aalborg Volleyball - Udkast til logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Pernille.jpg" target="_blank">
                    <img src="../../assets/images/Pernille.jpg" class="img-fluid rounded" alt="Pernille">
                  </a>
                </div>
                <span class="tooltiptext">Pernille</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/logo-gammel.png" target="_blank">
                    <img src="../../assets/images/logo-gammel.png" class="img-fluid rounded"
                      alt="Mit gamle logo - Camilla Møller Eskesen">
                  </a>
                </div>
                <span class="tooltiptext">Mit gamle logo</span>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/InnocentBloodLogo.png" target="_blank">
                    <img src="../../assets/images/InnocentBloodLogo.png" class="img-fluid rounded"
                      alt="Innocent Blood's logo">
                  </a>
                </div>
                <span class="tooltiptext big">Innocent Blood's logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Aalborg-Volleyball.jpg" target="_blank">
                    <img src="../../assets/images/Aalborg-Volleyball.jpg" class="img-fluid rounded"
                      alt="Aalborg Volleyball - Udkast til logo">
                  </a>
                </div>
                <span class="tooltiptext big">Aalborg Volleyball <br />- Udkast til logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Camilla-Eskesen.jpg" target="_blank">
                    <img src="../../assets/images/Camilla-Eskesen.jpg" class="img-fluid rounded me"
                      alt="Camilla Møller Eskesen - tegning">
                  </a>
                </div>
                <span class="tooltiptext">Tegning af mig</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Ditlev-Ulriksen-tegning.jpg" target="_blank">
                    <img src="../../assets/images/Ditlev-Ulriksen-tegning.jpg" class="img-fluid rounded"
                      alt="Ditlev Ulriksen">
                  </a>
                </div>
                <span class="tooltiptext">Ditlev Ulriksen</span>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Aalborg-Volleyball-1.jpg" target="_blank">
                    <img src="../../assets/images/Aalborg-Volleyball-1.jpg" class="img-fluid rounded"
                      alt="Aalborg Volleyball - Udkast til logo">
                  </a>
                </div>
                <span class="tooltiptext big aa">Aalborg Volleyball - Udkast til logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Innocent-Blood-logo.png" target="_blank">
                    <img src="../../assets/images/Innocent-Blood-logo.png" class="img-fluid rounded"
                      alt="Innocent Blood - Udkast til logo">
                  </a>
                </div>
                <span class="tooltiptext big">Innocent Blood <br />- Udkast til logo</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Guitar.jpg" target="_blank">
                    <img src="../../assets/images/Guitar.jpg" class="img-fluid rounded" alt="Guitar">
                  </a>
                </div>
                <span class="tooltiptext">Guitar</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 box rounded last new_box order-4 order-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <p>
                Her er nogle af de billeder, jeg har taget gennem tiden. Det er blot på hobby plan.
              </p>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Udsigt.jpg" target="_blank">
                    <img src="../../assets/images/Udsigt.jpg" class="img-fluid rounded" alt="Udsigt">
                  </a>
                </div>
                <span class="tooltiptext">Udsigt i Århus</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Shotgun-Revolution.jpg" target="_blank">
                    <img src="../../assets/images/Shotgun-Revolution.jpg" class="img-fluid rounded"
                      alt="Shotgun Revolution">
                  </a>
                </div>
                <span class="tooltiptext big sr">Shotgun Revolution</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Lillebaeltsbroen.jpg" target="_blank">
                    <img src="../../assets/images/Lillebaeltsbroen.jpg" class="img-fluid rounded" alt="Lillebæltsbroen">
                  </a>
                </div>
                <span class="tooltiptext">Lillebæltsbroen</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Fugl-1.jpg" target="_blank">
                    <img src="../../assets/images/Fugl-1.jpg" class="img-fluid rounded" alt="Fugl">
                  </a>
                </div>
                <span class="tooltiptext">Fugl</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Giraf.jpg" target="_blank">
                    <img src="../../assets/images/Giraf.jpg" class="img-fluid rounded" alt="Giraf">
                  </a>
                </div>
                <span class="tooltiptext">Giraf</span>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Raadyr-1.jpg" target="_blank">
                    <img src="../../assets/images/Raadyr-1.jpg" class="img-fluid rounded" alt="Rådyr">
                  </a>
                </div>
                <span class="tooltiptext">Rådyr</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Den-Gamle-Lillebaeltsbro.jpg" target="_blank">
                    <img src="../../assets/images/Den-Gamle-Lillebaeltsbro.jpg" class="img-fluid rounded"
                      alt="Den gamle Lillebæltsbro">
                  </a>
                </div>
                <span class="tooltiptext big">Den gamle Lillebæltsbro</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Ditlev-Ulriksen.jpg" target="_blank">
                    <img src="../../assets/images/Ditlev-Ulriksen.jpg" class="img-fluid rounded" alt="Ditlev Ulriksen">
                  </a>
                </div>
                <span class="tooltiptext">Ditlev Ulriksen</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Andreas.JPG" target="_blank">
                    <img src="../../assets/images/Andreas.JPG" class="img-fluid rounded" alt="Andreas - Sømændene">
                  </a>
                </div>
                <span class="tooltiptext">Andreas - Sømændene</span>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Roed-Panda.jpg" target="_blank">
                    <img src="../../assets/images/Roed-Panda.jpg" class="img-fluid rounded" alt="Rød panda">
                  </a>
                </div>
                <span class="tooltiptext">Rød panda</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Wafande.jpg" target="_blank">
                    <img src="../../assets/images/Wafande.jpg" class="img-fluid rounded" alt="Wafande">
                  </a>
                </div>
                <span class="tooltiptext">Wafande</span>
              </div>
              <div class="tooltip">
                <div class="img-hover-zoom">
                  <a href="../../assets/images/Bryan-Rice.jpg" target="_blank">
                    <img src="../../assets/images/Bryan-Rice.jpg" class="img-fluid rounded" alt="Bryan Rice">
                  </a>
                  <span class="tooltiptext">Bryan Rice</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>